body {
    color:rgb(255, 255, 255);
    background-color: rgb(130, 130, 130);
    font-size: 18px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   


    ul{

        display: flex;
        justify-content:space-between;
        list-style-type: none;
        align-items: center;
        padding: 26px;
        
        

    }


    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    
    }
    header img {
            width: 128px;
            height: 128px;
            border-radius: 50%;
            border: 7px solid rgb(216, 148, 11)
        }
         .center {
            text-align: center;
         }

         h1 {
            color:rgb(81, 81, 249)
         }
         footer img {
            width: 40px;
            height: 40px; 
         }

         footer {
                display: flex;
                justify-content: center;
            }
            footer a {
                margin: 20px;
                text-align: center;
            }
            footer p {
                margin-top: 2px;
            }
            .container {
                padding: 0px 40px;
            }
            nav a:hover {
                color: blueviolet;
            }
           
}